@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.wrapper {
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.who-we-are {
	width: 1440px;
	margin: 0 auto;
	position: relative;
}

.who-we-are__container {
	font-family: "Roboto", arial;
	color: #fff;
	width: 1020px;
	min-height: 700px;
	background: #5D62B5;
	border-radius: 40px;
	margin: 0 auto;
	margin-top: 130px;
	margin-bottom: 160px;
	position: relative;
}
.who-we-are::after {
	content: url('../img/Blob.svg');
	position: absolute;
	left: 194px;
	bottom: -149px;
}

.who-we-are::before {
	content: url('../img/StylizeCircles.svg');
	position: absolute;
	right: 138px;
	top: -108px;
	z-index: 1;
}

.who-we-are__designation {
	font-weight: 700;
	font-size: 12px;
	line-height: 200%;
	text-transform: uppercase;
	margin-bottom: 33px;
	padding-left: 5px;
}

.who-we-are__designation::before {
	content: url('../img/OverlineMark.svg');
	position: relative;
  	top: 10px;
  	right: 5px;
}

.who-we-are__content-container {
	padding: 100px 87px 354px 87px;
}

.who-we-are__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
	padding-right: 250px;
	margin-bottom: 36px;
}

.who-we-are__content {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.dog-img {
	position: absolute;
	left: 50%;
	bottom: -120px;
	transform: translateX(-50%);
	width: 846px;
	height: 420px;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	border-radius: 40px;
	overflow: hidden;
	z-index: 2;
}

/* -------------- */

/* Статичное положение объекта (по умолчанию) */
/* top,left,right,bottom,z-index - не работают */
/* position: static; */

/* -------------- */

/*
Положение элемента устанавливается относительно 
его исходного положения в коде. 
Добавление свойств left, top, right и bottom изменяет 
позицию элемента и сдвигает его в ту или иную сторону 
от первоначального расположения.
*/
/* top,left,right,bottom,z-index - работают */
/* position: relative; */

/* -------------- */
/*
Элемент якобы вырывается из кода и зависайт в воздухе. 
Он перестает влиять на остальные элементы. 
Добавление свойств left, top, right и bottom 
изменяет позицию элемента и сдвигает его 
в ту или иную сторону относительно родителя 
у колого задан параметр position: relative;

1) Объект теряет свое "тело", и зависает в воздухе.
2) Другие объекты занимают его место
3) Объект превращается в строчный, тоесть 
размер зависит от контента в нем
4) Объект позиционируется обносительно первого родителя,
для которого указано position: relative;
5) Необходимо сопровождать свойствами top,left,right,bottom

*/
/* top,left,right,bottom,z-index - работают */
/* position: absolute; */

/* -------------- */

/*
Элемент якобы вырывается из кода и зависайт в воздухе. 
Фиксируется, то есть не скролится вместе с содержимым. 
Он перестает влиять на остальные элементы. 
Добавление свойств left, top, right и bottom изменяет позицию элемента 
и сдвигает его в ту или иную сторону относительно окна браузера.
*/

/*
1) Объект теряет свое "тело", и зависает в воздухе.
2) Другие объекты занимают его место
3) Объект превращается в строчный, тоесть 
размер зависит от контента в нем
4) Объект позиционируется обносительно окна браузера
5) Необходимо сопровождать свойствами top,left,right,bottom

*/

/* top,left,right,bottom,z-index - работают */
/* position: fixed; */

/* -------------- */

/*
Это гибридное сочетание значений static и fixed. 
Изначально єлемент ведет себя как static 
но после того как скролл доходит до его границы он становиться 
fixed и прилипает к указанной позиции top или bottom.
*/

/* top,left,right,bottom,z-index - работают */
/* position: sticky; */

/* -------------- */

/*
Каждый элемент может находиться как ниже, 
так и выше других объектов веб-страницы, 
их размещением по z-оси и управляет z-index. 
Это свойство работает только для элементов, 
у которых значение position отличное от static.
*/

/* z-index: auto; */

/* -------------- */
/*
 Свойства позиционирования,
можно указавать px, %, другие ед.
top
left
right
bottom
*/

/* -------------- */

/* Практика */
/*
.list {
}
.list__item {
	position: relative;
	padding: 0px 0px 0px 25px;
}
.list__item::before {
	content: "";
	background: url("../img/icon.png") 0 0 no-repeat;
	width: 25px;
	height: 25px;
	position: absolute;
	top: -6px;
	left: 0px;
}
.list__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.header {
	background-color: #7a956b;
	padding: 20px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
.main {
	padding: 30px 0px 0px 0px;
}
.image {
	position: relative;
	display: inline-block;
}
.image::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.image:hover::before {
	opacity: 0;
}
.image__item {
	width: 200px;
}
*/

